# Node / Next.js
node_modules/
.next/
out/
*.log
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Env
.env
.env.*.local
.env.local

# Editor/OS
.DS_Store
.vscode/
*.swp

# Python
.venv/
venv/
__pycache__/
*.pyc
